.title{
    margin-left: 20px;
}
.table_transaction{
    width:1200px;
    margin-left:19px;
    overflow-y:auto;
    max-height:calc(100vh - 190px);
    border: 1px solid black;
}
.table_transaction::-webkit-scrollbar{
    width: 4px;
    background-color: rgba(26, 24, 47, 0.1);
    border-radius: 2px;
    height: 20px;
}
.table_transaction::-webkit-scrollbar-thumb{
    background: #435191;
    border-radius: 2px;
}
.top_block{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left:19px;
    margin-bottom: 10px;
    margin-top: 10px;
    background-color: #e7e3e3;
    border-radius: 10px;
    padding: 5px;
}
.month_filter{
    display: flex;
    align-items: center;
}
.type_filter{
    display: flex;
    align-items: center;
}
.button{
    border: none;
    padding: 10px;
    border-radius: 10px;
    background-color: #AF4D4DFF;
}
.button:hover{
    cursor: pointer;
    background-color: #8F3F3FFF;
}
